# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Desktop.ini files die windows zelf aanmaakt
desktop.ini

#Netbeans files die niet nodig zijn
/nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/
nb-configuration.xml

#Persistence XML zodat we los op eigen databases kunnen werken
persistence.xml
